*.DS_Store
*.log
finetuned_mistral/
standalone_evaluation.py
standalone_evaluation_BERT+Jaccard.py
preprocess_conll.py
results_finetune_binary/predictions/classification_report.txt
results_finetune_binary/predictions/confusion_matrix.txt
results_finetune_binary/predictions/diagnostics.csv
results_finetune_binary/predictions/summary.txt
results_finetune_binary/evaluation/
results_finetune_premise_claim/evaluation/
results_finetune_finegrained/evaluation/
results_combined_finetune_binary/evaluation/
results_combined_finetune_premise_claim/evaluation/
results_combined_finetune_finegrained/evaluation/
settings_mistral_finetune.txt
combined_data/
standalone2.py
oar_config.sh
7B_Mistral_Llama/results_mistral-7b_finetune_premise_claim/evaluation/
7B_Mistral_Llama/results_llama-8b_finetune_premise_claim/evaluation/
7B_Mistral_Llama/results_mistral-7b_finetune_premise_claim/checkpoint-24
7B_Mistral_Llama/results_mistral-7b_finetune_premise_claim/checkpoint-16
7B_Mistral_Llama/results_mistral-7b_finetune_premise_claim/tokenizer.json
7B_Mistral_Llama/results_llama-8b_finetune_premise_claim/checkpoint-24
7B_Mistral_Llama/results_llama-8b_finetune_premise_claim/checkpoint-16
7B_Mistral_Llama/results_llama-8b_finetune_premise_claim/tokenizer.json